.a{
  text-align: center;
}
.b{
  text-align: center;
}
table{
 
  margin-top: 2cm;
  margin-left: 8cm;
  background-image: linear-gradient(to right, rgba(108, 189, 205, 0.5), rgb(255, 1, 213));
}