.a{
  text-align: center;
}
.b{
  text-align: center;
}

table{
 
  margin-top: 20%;
  text-align: center;
  margin-left: 20%;
  background-color:lavender;
}
.v{
  text-align: center;
}
.c{
  text-align: center;
  margin-left: 220px;
}