.temp{
    text-align: center;
    background-color: black;
    color: azure;
  }
  .card
  {
   margin-left: 9px;
  }
  .rita{
    margin-left: 60px;
   background-color: black;
  }
  .black{
    background-color: black;
  }