.container {
   
    background-image: url('https://www.gptx.org/files/sharedassets/public/v/1/home-page/images/news-and-event-pages/stethoscope-with-blocks.jpg?dimension=pageimagefullwidth&w=1140 '); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content:center; 
    align-items: center;

  }
  .b1{
    height: 70px;
   width: 300px;
   background-color: skyblue;
    border-radius: 190px;
  }
  .b2{
    height: 70px;
   width: 300px;
   background-color: skyblue;
    border-radius: 190px;
  }
  
