.a{
    text-align: center;
    background: 'linear-gradient(rgb(255, 38, 142) 0%, rgb(255, 105, 79) 100%)'
  }
  .b{
    text-align: center;
    background: 'linear-gradient(rgb(255, 38, 142) 0%, rgb(255, 105, 79) 100%)'
  }
  .v{
    text-align: center;
    background: 'linear-gradient(rgb(255, 38, 142) 0%, rgb(255, 105, 79) 100%)'
  }
  .c{
    text-align: center;
    margin-left: 220px;
  
  }
  